In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Coquimbo,CL,2021-09-15 20:53:12,-29.9533,-71.3436,58.73,72,0,13.80
1,1,Mersing,MY,2021-09-15 20:53:12,2.4312,103.8405,75.11,94,90,5.75
2,2,Port Alfred,ZA,2021-09-15 20:53:12,-33.5906,26.8910,57.56,74,42,10.27
3,3,Udachnyy,RU,2021-09-15 20:53:13,66.4167,112.4000,35.47,83,16,7.67
4,4,Mahebourg,MU,2021-09-15 20:53:13,-20.4081,57.7000,70.09,88,75,10.36
...,...,...,...,...,...,...,...,...,...,...
538,538,Bambanglipuro,ID,2021-09-15 20:56:13,-7.9500,110.2833,74.95,91,100,4.76
539,539,Albanel,CA,2021-09-15 20:56:13,48.8832,-72.4487,60.94,63,98,9.22
540,540,Tanout,NE,2021-09-15 20:56:13,14.9709,8.8879,93.16,29,9,5.66
541,541,San Buenaventura,MX,2021-09-15 20:56:14,27.0833,-101.5333,93.67,33,65,12.06
542,542,Stornoway,GB,2021-09-15 20:56:14,58.2093,-6.3865,54.93,94,75,8.05

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mersing,MY,2021-09-15 20:53:12,2.4312,103.8405,75.11,94,90,5.75
5,5,Vaini,TO,2021-09-15 20:53:13,-21.2000,-175.2000,77.16,94,75,5.75
13,13,Yanam,IN,2021-09-15 20:53:16,16.7333,82.2167,78.64,87,100,3.47
15,15,Price,US,2021-09-15 20:53:17,39.5994,-110.8107,86.72,14,0,7.94
27,27,Cayenne,GF,2021-09-15 20:53:21,4.9333,-52.3333,87.84,75,6,5.01
28,28,Albany,US,2021-09-15 20:51:58,42.6001,-73.9662,76.15,90,100,9.98
32,32,Hilo,US,2021-09-15 20:49:13,19.7297,-155.0900,86.29,73,75,5.75
35,35,Umm Lajj,SA,2021-09-15 20:53:23,25.0213,37.2685,86.58,44,41,12.64
37,37,Faanui,PF,2021-09-15 20:53:23,-16.4833,-151.7500,78.82,74,6,18.21
38,38,Basco,PH,2021-09-15 20:53:23,20.4487,121.9702,83.84,74,3,7.61

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
1    Mersing      MY     75.11   2.4312  103.8405
5      Vaini      TO     77.16 -21.2000 -175.2000
13     Yanam      IN     78.64  16.7333   82.2167
15     Price      US     86.72  39.5994 -110.8107
27   Cayenne      GF     87.84   4.9333  -52.3333
28    Albany      US     76.15  42.6001  -73.9662
32      Hilo      US     86.29  19.7297 -155.0900
35  Umm Lajj      SA     86.58  25.0213   37.2685
37    Faanui      PF     78.82 -16.4833 -151.7500
38     Basco      PH     83.84  20.4487  121.9702

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mersing,MY,75.11,2.4312,103.8405,Timotel Hotel
5,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
13,Yanam,IN,78.64,16.7333,82.2167,The Regency Hotel
15,Price,US,86.72,39.5994,-110.8107,National 9 - Price River Inn
27,Cayenne,GF,87.84,4.9333,-52.3333,HÃ´tel Le Dronmi
28,Albany,US,76.15,42.6001,-73.9662,
32,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel
35,Umm Lajj,SA,86.58,25.0213,37.2685,Moon light Furnished Units
37,Faanui,PF,78.82,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
38,Basco,PH,83.84,20.4487,121.9702,Nathaniel's Lodge

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))